*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	user-select: none;
	list-style: none;
	color: var(--color__a1);
	transition: all, .3s ease-in-out;
}

:root{

	--color__a1: #fff;
	--color__a2: #ccc;
	--color__a3: #aaa;
	--color__b1: #000;
	--color__b2: #222;
	--color__b3: #444;

	--color__c2: #58FFAD;

	--tipo__h: 'Poppins', sans-serif;

	font-size: 80%;

}

html{
	/*overflow-x: hidden;*/
}

body{
	background-color: var(--color__b1);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

h1{
	font-family: var(--tipo__h);
	font-size: 2rem;
	font-weight: 700;
	z-index: 900;
}

h2{
	font-family: var(--tipo__h);
	color: var(--color__c2);
	font-size: 1.5rem;
	font-weight: 700;
	padding: 1rem 2rem 1rem 0;
	border-top-right-radius: 2rem;
	background-color: var(--color__b1);
	display: inline;
	animation: titulo 2s ease-out alternate infinite;
}

h3{
	font-family: var(--tipo__h);
	font-size: 1.25rem;
	font-weight: 700;
	border-bottom: .1em solid var(--color__a1);
	padding-bottom: .25em;
}

h4{
	font-family: var(--tipo__h);
	font-size: 1.2rem;
	font-weight: normal;
}

.h2-divisor{
	margin-top: 2rem;
	background-color: var(--color__b2);
	width: 100%;
	right: 0;
}

.section-background{
	display: flex;
	flex-direction: column;
	background-color: var(--color__b3);
	border-radius: 1rem;
}

.section-background_padding{
	gap: 2rem;
	padding: 2rem;
	border-radius: 1rem;
}

.borde-izquierdo_celeste{
	border-left: .15rem solid var(--color__c2);
	padding-left: 0.5rem;
}

.borde-derecho_celeste{
	border-right: .15rem solid var(--color__c2);
	padding-right: 0.5rem;
}

.texto_celeste{
	color: var(--color__c2);
}

.texto_italica-fino{
	font-weight: 100;
	font-style: italic;
}

a{
	text-decoration: none;
}

p{
	line-height: 1.25em;
	z-index: 900;
}

header{
	background-color: var(--color__b2);
	width: 100%;
	padding: 1rem 4rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	gap: 2rem;
	z-index: 1000;
	box-shadow: 0 0 1rem rgba(0, 0, 0, .75);
	opacity: .75;
}

.logo-container{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	animation: logo 1s ease-in alternate infinite;
}

.logo-container:hover{
	transform: scale(1.2);
	box-shadow: 0 0 .5rem var(--color__c2);
	animation-duration: 0s;
}

.logo-container img{
	background-color: var(--color__a1);
	width: 100%;
}

header:hover{
	border-bottom-left-radius: 2rem;
	border-bottom-right-radius: 2rem;
	opacity: 1;
}

header:hover > .divisor{
	display: inherit;
}

header:hover > .menu{
	display: inherit;
	transform: scale(1, 1);
}

.divisor{
	display: none;
	background-color: var(--color__c2);
	height: .1rem;
	border-radius: .1rem;
	width: 100%;
}

.menu{
	display: none;
	transform: scale(1, 0);
}

.menu ul{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 1rem;
	column-gap: 2rem;
	list-style: none;
}

.menu ul li a{
	color: var(--color__a1);
}

.articulo{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	padding: 4rem 1rem;
	gap: 5rem;
}

#datosAlumno{
	width: 100%;
	padding: 4rem 1rem;
	gap: 5rem;
	height: 100vh;
	background-image: url(../imagenes/perfil-2.jpg);
	background-position: center top;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
}

.background{
	background: linear-gradient(to top, rgba(0, 0, 0, 1.0), transparent);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.acercademi-container{
	justify-content: flex-end;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.acercademi{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	z-index: 900;
	font-weight: 100;
	height: 6rem;
	overflow: auto;
}

.acercademi::-webkit-scrollbar {
    display: none;
}

.lista-alumno{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
	grid-auto-flow: dense;
	width: 100%;
	gap: 1rem;
}

.lista-alumno li a{
	align-items: center;
}

.lista-alumno li a:hover{
	transform: scale(1.02);
}

.avatar{
	width: 100%;
}

.avatar img{
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-top-right-radius: 1rem;
	border-top-left-radius: 1rem;
	filter: saturate(25%) brightness(.75);
}

.lista-alumno li a:hover > .avatar img{
	filter: saturate(100%) brightness(1);
}

.parrafo{
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 1rem 1.5rem;
}

.derecha{
	right: 0;
	font-weight: 100;
	font-style: italic;
}

.ACUMAR{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
	grid-auto-flow: dense;
	width: 100%;
	gap: 2rem;
}

.logo-acumar{
	width: 100%;
	height: auto;
	background-color: var(--color__a1);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4rem;
}

.logo-acumar img{
	width: 100%;
	filter: brightness(0);
}

.comitente-parrafo{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
}

.porcentaje{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.porcentaje-p{
	font-size: 5rem;
	font-family: var(--tipo__h);
	color: var(--color__c2);
}

.lista-carrera{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

.materiasAprobadas{
	width: 100%;
	gap: 2rem;
	padding: 2rem;
	border-radius: 1rem;
	justify-content: center;
	background-color: var(--color__b3);
}

.materiasAprobadas ul{
	display: flex;
	flex-direction: column;
	gap: .5em;
}

.materiasAprobadas ul li{
	display: flex;
	justify-content: space-between;
	gap: 2rem;
	padding-bottom: 0.25em;
	border-bottom: .1em solid transparent;
	cursor: pointer;
}

.lista-carrera ul li:hover{
	border-bottom: .1em solid var(--color__c2);
}

.lista-academica{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
	grid-auto-flow: dense;
	width: 100%;
	gap: 2rem;
}

.lista-academica section{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
}

.lista-academica section div:first-child{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 75%;
}

.lista-academica section div img{
	width: 50%;
	height: auto;
	object-fit: cover;
}

.lista-academica section div:nth-child(2n){
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
}

.lista-academica section div ul{
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: .25rem;
}

#logoUba{
	background-color: var(--color__a1);
	border-radius: 100%;
}

#logoFadu{
}

#logoDgpc{
	background-color: var(--color__a1);
}

#portfolio{
	min-height: 100vh;
}

.lista-trabajos{
	columns: 3 200px;
	gap: 1rem;
	break-inside: avoid;
}

.lista-trabajos li{
	margin-bottom: 1rem;
}

.lista-trabajos li:hover{
	transform: scale(1.02);
}

#portfolio ul li a div:first-child{
	min-width: 100%;
}

#portfolio div img{
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	width: 100%;
	object-fit: cover;
}

#portfolio ul li a div:nth-child(2n){
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
}

footer{
	background-color: var(--color__b2);
	width: 100%;
	height: 100%;
	padding: 1.5rem 1rem;
	font-size: .75rem;
	font-weight: 100;
}

footer p{
	color: var(--color__a3);
}

@media only screen and (min-width: 650px){

	.lista-alumno{
		grid-template-columns: repeat(3, 1fr);
	}

	.lista-academica{
		grid-template-columns: repeat(3, 1fr);
	}

	/*
	.lista-trabajos{
		grid-template-columns: repeat(3, 1fr);
	}
	*/

	.lista-alumno li a div p{
		font-size: .6rem;
	}

	.ACUMAR{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2rem;
	}

	.logo-acumar{
		width: 100%;
		height: auto;
		background-color: var(--color__a1);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4rem;
	}

}

@media only screen and (min-width: 700px){

	header{
		flex-direction: row;
		padding: 2rem 4rem;
	}

	header:hover > .divisor{
		display: none;
	}

	header:hover{
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	.menu{
		transform: scale(1, 1);
		display: inherit;
	}

	.menu ul{
		flex-direction: row;
	}

	.h2-divisor{
		margin-top: 4rem;
	}

}

@media only screen and (min-width: 1280px){

	:root{

		font-size: 100%;

	}

	.borde-izquierdo_celeste{
		padding-left: 1.5rem;
	}

	header{
		padding: 1rem 4rem;
	}

	header:hover{
		padding: 1rem 4rem;
	}

	#datosAlumno{
		padding: 4rem 3rem;
	}

	.articulo{
		padding: 4rem 3rem;
	}

	h1{
		font-size: 3rem;
	}

	h2{
		font-size: 2rem;
		border-top-right-radius: 3rem;
		padding-right: 4rem;
	}

	.menu ul{
		column-gap: 1rem;
	}

	.menu ul li a{
		padding: 1rem 2rem;
		border-radius: 2rem;
		font-size: 75%;
	}

	.menu ul li a:hover{
		background-color: var(--color__a1);
		color: var(--color__b2);
	}

	.lista-alumno{
		padding-left: 1.5rem;
		border-left: .15rem solid var(--color__c2);
	}

	#portfolio div:nth-child(2n) p{
		font-size: .75rem;
	}

}

@keyframes logo{
	0%{
		transform: scale(1.0);
	}
	100%{
		transform: scale(1.2);
	}
}

/*
@keyframes titulo{
	0%{
		text-shadow: 0 0 .05rem #fff;
	}
	100%{
		text-shadow: 0 0 1rem var(--color__c2);
	}
}
*/